@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Hahmlet:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap');

*{
    font-family: "Gowun Dodum", sans-serif;
}
a, h1, h2{
    font-family: "Hahmlet" , sans-serif;
}

img{
    filter: drop-shadow( 5px 5px 5px rgba(213, 131, 8, 0.861));
    border-radius: 50%;
    width: 150px;
    margin-top: 20px;

}
h1{
    font-size: 30px;
    font-weight: bold;
}
h2{
    font-size: 20px;
    margin-top: 40px;
    background-color: rgba(255,177,75,0.675);
    padding: 5px 0px 5px 5px;
}
input{
    border: 1px solid #ccc;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}
a{
    text-decoration-color: none;
    color: white;
    background-color: black;
    padding: 12px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 12px;
}
a:hover {
    background-color: orange;
    color: black;
}
.profilebox{
    text-align: center;
}
#mainbox{
    width: 610px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
}

label {
    display: block; /* 라벨을 블록 요소로 설정하기*/
    margin-bottom: 5px; /* 텍스트 영역과의 간격 설정*/
}

input[type=submit]{
    background-color: black;
    color: white;

}

input[type=submit]:hover{
    background-color: orange;
    color: black;

}
