{% extends 'base.html' %}
{% block title %} Form {% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Post 입력 화면- Form을 사용해서 해보자!!</h1>
    <form   
    action="{%url 'posts:post-new'%}"
    method="POST"
    enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <input type="submit" />
        </div>
    </form>
</body>
</html>

{% endblock %}